## Week of {{ monday 2 }} 

| Description | Status |
|---|---|
{{ range $item := filterByPriority . 2 -}}
|{{ $item.Contents }}|{{ status $item.State }}|
{{ end }}
## Week of {{ monday 1 }} 

| Description | Status |
|---|---|
{{ range $item := filterByPriority . 1 -}}
|{{ $item.Contents }}|{{ status $item.State }}|
{{ end }}
## Week of {{ monday 0 }}

| Description | Status |
|---|---|
{{ range $item := filterByPriority . 0 -}}
|{{ $item.Contents }}|{{ status $item.State }}|
{{ end -}}
